temp_*
*.root
*.pdf
*.jpg
*.png
*.eps
*.svg
.sl*
.sl73_gcc485/
*.obj
*.so
*_Dict*
*~*
*.o
sched*.package.zip
sched*.package
sched*.dataset
*.session.xml
temp_gccflags.c
temp/
results/
.root_history
.consign
.project
.cproject
FmsCellStat.txt
FmsGainCorr.txt
.nfs*
schedTemplateExp.xml
temp*.txt
*_cxx.d
jobs/
*.metafile
resources/jobRunList/