examples/
temp_*
*.root
*.pdf
*.jpg
.sl*
.sl73_gcc485/
*.obj
*.so
*_Dict*
*~*
*.o
jobDir/
sched*.package.zip
sched*.package
sched*.dataset
*.session.xml
tutorials/
temp_gccflags.c
*.dat
temp/
*.list
.root_history
.consign
*.dat
.project
.cproject
FmsCellStat.txt
FmsGainCorr.txt
.nfs*
schedTemplateExp.xml
