temp_*
*.root
*.pdf
*.jpg
*.png
*.eps
*.svg
.sl*
.sl73_gcc485/
*.obj
*.so
*_Dict*
*~*
*.o
sched*.package.zip
sched*.package
sched*.dataset
*.session.xml
temp_gccflags.c
*.dat
temp/
*.list
.root_history
.consign
*.dat
.project
.cproject
FmsCellStat.txt
FmsGainCorr.txt
.nfs*
schedTemplateExp.xml
temp*.txt
*_cxx.d
jobs/
StSpinPool/
StJetMaker/
