Universe        = vanilla
Executable      = ./condor.sh
Requirements    = (CPU_Speed >= 1)
Rank		= CPU_Speed
request_memory = 1800M
request_cpus = 1
Priority        = 4
GetEnv          = True
Initialdir      = /star/u/kabir/GIT/BrightSTAR
Input           = /dev/null
Output          = /star/u/kabir/GIT/BrightSTAR/jobOutput/condor_job$(Process).out
Error           = /star/u/kabir/GIT/BrightSTAR/jobOutput/condor_job$(Process).err
Log             = /star/u/kabir/GIT/BrightSTAR/jobOutput/condor_job$(Process).log
#Notify_user     = kabir@bnl.gov
when_to_transfer_output = ON_EXIT_OR_EVICT