Universe        = vanilla
Requirements    = (CPU_Speed >= 1)
Rank		= CPU_Speed
request_memory  = 1800M
request_cpus    = 1
Priority        = 4
GetEnv          = True
#Input           = /dev/null
#Following two are needed for Simulation Jobs
Input           = /star/u/kabir/GIT/BrightSTAR/starSim/lhapdf
should_transfer_files = YES
when_to_transfer_output = ON_EXIT_OR_EVICT
+Experiment     = "star"
+Job_Type       = "cas"
